* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 66.5%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    transition: all 0.5s;
    overflow-x: hidden;
}

#button {
    font-size: 1.5rem;
    border-radius: 50px;
}

p {
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    font-size: 3.5rem;
}

.main-banner {
    width: 100%;
    height: 90vh;
    overflow-x: unset;
    display: grid;
    grid-template-rows: 80px 400px;
    grid-template-columns: 1fr 1fr;
    background-image: url('https://media.istockphoto.com/photos/graduated-blue-summer-sky-genuine-photograph-picture-id1138440263?k=20&m=1138440263&s=612x612&w=0&h=LknkfZJX7ryrrA8NQ6Z0XERFSNtZazDW6r5TvGsJEDU=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-list {
    font-size: 2.3rem;
    margin-top: 30px;
    font-weight: 600;
}

.title1 {
    display: none;
}

.info-list li {
    padding-bottom: 10px;
}

#main-banner__content {
    width: 60%;
    margin-left: 60px;
    color: white;
}

.main-banner h1 {
    padding-top: 25px;
    font-size: 6.5rem;
    font-weight: 500;
    color: white;
}

.main-banner h2 {
    font-size: 6rem;
    font-weight: 500;
    color: white;
}

.image-area img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.service_years img {
    max-width: 450px;
    max-height: 350px;
}

.service_years h2 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 10px;
}

.experience {
    font-size: 2rem;
    line-height: 30px;
}

.products {
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/7615562/pexels-photo-7615562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
}

.products h2 {
    font-size: 4rem;
    color: white;
    font-weight: 500;
    margin-top: 20px;
}

.card:hover {
    transform: translateY(-20px);
    background-color: rgba(253, 253, 253, 0.657);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1);
    transform: scale(1.1);
    transition: all 0.75s;
    cursor: pointer;
}

.card:hover img {
    filter: brightness(85%);
    transition: all 1s;
}

.contact img {
    width: 500px;
    height: 350px;
}

form label {
    font-size: 1.5rem;
}

#up-button {
    position: fixed;
    bottom: 30px;
    right: -100px;
    background-color: white;
    border-radius: 50%;
    transition: all 1s;
}

@media screen and (max-width: 1300px) {
    .main-banner {
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    .title1 {
        display: block;
    }

    .main-banner h1 {
        font-size: 6rem;
    }

    ul li {
        font-size: 1.8rem;
    }

    .title2 {
        display: none;
    }

    .image-area img {
        margin-top: 20px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .service_years img {
        width: 550px;
        height: 350px;
    }
}

@media screen and (max-width: 1170px) {


    .main-banner {
        height: 80vh;
    }

    .main-banner h1 {
        font-size: 5rem;
        font-weight: 500;
        color: white;
    }

    .contact img {
        width: 600px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .main-banner {
        height: 80vh;
        display: grid;
        display: flex;
        flex-direction: column;
    }

    #navbarToggle {
        font-size: 1.5rem;
        padding-top: 10px;
    }

    .main-banner h1 {
        font-size: 5rem;
    }
    
    .main-banner h2 {
        font-size: 4rem;
    }

    .service_years img {
        width: 100vw;
        height: 250px;
        margin-bottom: 20px;
    }

    .products h2 {
        text-align: center;
    }

    .contact {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .contact img {
        width: 450px;
        height: 350px;
    }
    .contact-form {
        width: 100vw;
    }
}

@media screen and (max-width: 541px) {
    .main-banner {
        background-position: center;
        height: 85vh;
    }

    .main-banner h1 {
        font-size: 4rem;
    }

    ul li {
        font-size: 1.4rem;
    }

    .image-area img {
        margin-top: 20px;
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    .service_years {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .service_years img {
        max-width: 380px;
        max-height: 280px;
        margin-bottom: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contact img {
        width: 450px;
        height: 350px;
    }
}

@media screen and (max-width: 470px) {
    .main-banner {
        height: 100vh;
    }

    .image-area img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow-y: hidden;
    }

    .service_years img {
        max-width: 320px;
        max-height: 220px;
        margin-bottom: 20px;
    }

    .contact img {
        width: 250px;
        height: 250px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 415px) {
    .main-banner {
        height: 90vh;
        text-align: center;
    }

    #main-banner__content {
        font-size: 2rem;
        /* margin-top: 30px; */
        font-weight: 600;
        overflow-y: hidden;
    }

    .main-banner h1 {
        font-size: 3.5rem;
    }

    #main-banner__content {
        padding: 0px !important;
        margin-left: 20px;
    }

    #main-banner__content h1 {
        font-size: 3.8rem;
        text-align: center;
    }

    #main-banner__content h2 {
        font-size: 3rem;
        margin-top: 10px;
        text-align: center;
    }

    .service_years img {
        max-width: 250px;
        max-height: 150px;
        margin-bottom: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contact img {
        width: 200px;
        height: 200px;
    }

    form {
        padding: 0;
    }
}

@media screen and (max-width: 383px) {
    #phone-icon {
        margin-top: 20px;
    }

    #phone-icon p {
        margin-right: 75px;
    }
}

@media screen and (max-width: 375px) {
    #phone-icon {
        margin-top: 20px;
    }

    #phone-icon p {
        margin-right: 40px;
    }
}
